﻿@using InnovationsPortal.Models
@model idea

@{
    ViewBag.Title = "OurIdea";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="alert alert-success" id="success-alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    This idea has been updated.
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div id="LoadVotes">
                @Html.Action("UserVote", "Home", new { ideaID = Model.ideaID })
            </div>
            <div class="col">
                <div>
                    <h4>Idea submitted by @Model.AspNetUser.UserName<span class="badge badge-info float-right" data-toggle="tooltip" title="Created date">@Model.createdDate.ToLocalTime().ToShortDateString()</span></h4>
                </div>
                <div>
                    <p>

                    </p>
                </div>

                <div class="row">
                    <div class="col form-group">
                        <span class="fa fa-sticky-note" style="padding-right:5px"></span>@Html.LabelFor(model => model.releaseNote, "Release Note - Story Title", htmlAttributes: new { @class = "control-label" })
                        <div id="NoteDisplay">
                            @Html.TextAreaFor(model => model.releaseNote, new { id = "NoteLabel", @readonly = "readonly", @style = "width:100%" })
                            <div style="text-align:right">
                                <span class="fa fa-edit btn text-info" style="text-align:right" id="EditNote" data-toggle="tooltip" title="Edit Release Note"></span>
                            </div>
                        </div>
                        <div style="display:none" id="NoteEditor">
                            @Html.TextAreaFor(model => model.releaseNote, new { id = "TextAreaNote", @rows = "3", @style = "width:100%", placeholder = "Ex: The strain information form links to MGI data!" })
                            <div style="text-align:right">
                                <span class="fa fa-remove btn text-danger" id="CancelNoteUpdate" data-toggle="tooltip" title="Cancel Update"></span>
                                <span class="fa fa-save btn text-success" id="SaveNote" data-toggle="tooltip" title="Update Release Note"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.releaseNote, "", new { @class = "control-label" })
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col form-group">
                                @* User Story Section *@
                                <span class="fa fa-book" style="padding-right:5px"></span>@Html.LabelFor(model => model.userStory, "Share your story.", htmlAttributes: new { @class = "control-label" })
                                <div id="StoryDisplay">
                                    @Html.TextAreaFor(model => model.userStory, new { id = "StoryLabel", @rows = "6", @readonly = "readonly", @style = "width:100%" })
                                    <div style="text-align:right">
                                        <span class="fa fa-edit btn text-info" id="EditStory" data-toggle="tooltip" title="Edit Story"></span>
                                    </div>
                                </div>
                                <div style="display:none" id="StoryEditor">
                                    @Html.TextAreaFor(model => model.userStory, new { id = "TextAreaStory", @rows = "6", @style = "width:100%;", placeholder = "As a user, I want to do a thing, so that these things are easier." })
                                    <div style="text-align:right">
                                        <span class="fa fa-remove btn text-danger" id="CancelStoryUpdate" data-toggle="tooltip" title="Cancel Update"></span>
                                        <span class="fa fa-save btn text-success" id="SaveStory" data-toggle="tooltip" title="Save Story"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.userStory, "", new { @class = "text-danger" })
                                </div>
                                @* Acceptance Criteria Section *@
                                <div>
                                    <label for="Criteria">Acceptance Criteria:</label>
                                    <div class="input-group">
                                        <span class="input-group-btn"><button id="criteria" class="btn btn-secondary fa fa-plus-circle" type="button"></button></span>
                                        <input id="textCriteria" type="text" class="form-control" name="Criteria" value="" placeholder="Ex: I should be able to login." />
                                    </div>
                                    <p></p>
                                    <ul id="criteriaList">
                                        @for (var i = 0; i < Model.acceptanceCriterias.Count(); i++)
                                        {
                                            <li>@Model.acceptanceCriterias.ElementAt(i).acceptanceCriteria1.ToString()</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col form-group">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <span class="fa fa-graduation-cap" style="padding-right:5px"></span>@Html.LabelFor(model => model.requiresTraining, "Training Required?", htmlAttributes: new { id = "TrainingLabel", @value = Model.requiresTraining.ToString().ToLower(), @class = "control-label" })
                                    <div class="btn-group btn-group-toggle float-md-right" data-toggle="buttons">
                                        @if (Model.requiresTraining == true)
                                        {
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.requiresTraining, "False", new { @checked = false, id = "TrainingNo" }) No
                                            </label>
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.requiresTraining, "True", new { @checked = true, id = "TrainingYes" }) Yes
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.requiresTraining, "False", new { @checked = true, id = "TrainingNo" }) No
                                            </label>
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.requiresTraining, "True", new { @checked = false, id = "TrainingYes" }) Yes
                                            </label>
                                        }
                                    </div>
                                </div>

                                <br />
                                <div>
                                    <span class="fa fa-users" style="padding-right:5px"></span>@Html.LabelFor(model => model.customerFacing, "Customer Facing?", htmlAttributes: new { id = "CSFacingLabel", @value = Model.customerFacing.ToString().ToLower(), @class = "control-label" })
                                    <div class="btn-group btn-group-toggle float-md-right" data-toggle="buttons">
                                        @if (Model.customerFacing == true)
                                        {
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.customerFacing, "False", new { @checked = false, id = "CSFacingNo" }) No
                                            </label>
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.customerFacing, "True", new { @checked = true, id = "CSFacingYes" }) Yes
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.customerFacing, "False", new { @checked = true, id = "CSFacingNo" }) No
                                            </label>
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.customerFacing, "True", new { @checked = false, id = "CSFacingYes" }) Yes
                                            </label>
                                        }
                                    </div>
                                </div>

                                <br />
                                <div>
                                    <span class="fa fa-plus" style="padding-right:5px"></span>@Html.LabelFor(model => model.newFeature, "New Feature?", htmlAttributes: new { id = "FeatureLabel", @value = Model.newFeature.ToString().ToLower(), @class = "control-label" })
                                    <div class="btn-group btn-group-toggle float-md-right" data-toggle="buttons">
                                        @if (Model.newFeature == true)
                                        {
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.newFeature, "False", new { @checked = false, id = "NewFeatureNo" }) No
                                            </label>
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.newFeature, "True", new { @checked = true, id = "NewFeatureYes" }) Yes
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="btn btn-secondary active">
                                                @Html.RadioButtonFor(model => model.newFeature, "False", new { @checked = true, id = "NewFeatureNo" }) No
                                            </label>
                                            <label class="btn btn-secondary">
                                                @Html.RadioButtonFor(model => model.newFeature, "True", new { @checked = false, id = "NewFeatureYes" }) Yes
                                            </label>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @* Risk Matrix Options *@
                            <div class="col">
                                <p><span class="fa fa-bar-chart" style="padding-right:5px"></span>@Html.LabelFor(model => model.frequency, "How often is this be used?", htmlAttributes: new { id = "FrequencyLabel", @value = Model.frequency, @class = "control-label" })</p>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    @if (Model.frequency == null || Model.frequency == "Not Often")
                                    {
                                        <label class="btn btn-secondary active">
                                            @Html.RadioButtonFor(model => model.frequency, "False", new { id = "FrequencyNotOften", @checked = true }) Not Often
                                        </label>
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyOften", @checked = false }) Often
                                        </label>
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyVeryOften", @checked = false }) Very Often
                                        </label>
                                    }
                                    else if (Model.frequency == "Often")
                                    {
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "False", new { id = "FrequencyNotOften", @checked = false }) Not Often
                                        </label>
                                        <label class="btn btn-secondary active">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyOften", @checked = true }) Often
                                        </label>
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyVeryOften", @checked = false }) Very Often
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "False", new { id = "FrequencyNotOften", @checked = false }) Not Often
                                        </label>
                                        <label class="btn btn-secondary">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyOften", @checked = false }) Often
                                        </label>
                                        <label class="btn btn-secondary active">
                                            @Html.RadioButtonFor(model => model.frequency, "True", new { id = "FrequencyVeryOften", @checked = true }) Very Often
                                        </label>
                                    }

                                </div>
                            </div>
                            <div class="col">
                                <p><span class="fa fa-line-chart" style="padding-right:5px"></span>@Html.LabelFor(model => model.impact, "What is the impact?", htmlAttributes: new { id = "ImpactLabel", @value = Model.impact, @class = "control-label" })</p>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    @if (Model.impact == null || Model.impact == "Low")
                                    {
                                        <label class="btn btn-secondary active" id="ImpactLow">
                                            @Html.RadioButtonFor(model => model.impact, "Low", new { id = "ImpactLow", @checked = true }) Low
                                        </label>
                                        <label class="btn btn-secondary" id="ImpactMedium">
                                            @Html.RadioButtonFor(model => model.impact, "Medium", new { id = "ImpactMedium", @checked = false }) Medium
                                        </label>
                                        <label class="btn btn-secondary" id="ImpactHigh">
                                            @Html.RadioButtonFor(model => model.impact, "High", new { id = "ImpactHigh", @checked = false }) High
                                        </label>
                                    }
                                    else if (Model.impact == "Medium")
                                    {
                                        <label class="btn btn-secondary" id="ImpactLow">
                                            @Html.RadioButtonFor(model => model.impact, "Low", new { id = "ImpactLow", @checked = false }) Low
                                        </label>
                                        <label class="btn btn-secondary active" id="ImpactMedium">
                                            @Html.RadioButtonFor(model => model.impact, "Medium", new { id = "ImpactMedium", @checked = true }) Medium
                                        </label>
                                        <label class="btn btn-secondary" id="ImpactHigh">
                                            @Html.RadioButtonFor(model => model.impact, "High", new { id = "ImpactHigh", @checked = false }) High
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary" id="ImpactLow">
                                            @Html.RadioButtonFor(model => model.impact, "Low", new { id = "ImpactLow", @checked = false }) Low
                                        </label>
                                        <label class="btn btn-secondary" id="ImpactMedium">
                                            @Html.RadioButtonFor(model => model.impact, "Medium", new { id = "ImpactMedium", @checked = false }) Medium
                                        </label>
                                        <label class="btn btn-secondary active" id="ImpactHigh">
                                            @Html.RadioButtonFor(model => model.impact, "High", new { id = "ImpactHigh", @checked = true }) High
                                        </label>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @* Comments Section *@
                    <div class="col">
                        <label for="Cooments">Comments:</label>
                        <div class="input-group">
                            <span class="input-group-btn"><button id="comments" class="btn btn-secondary fa fa-plus-circle" type="button"></button></span>
                            <input id="textComments" type="text" class="form-control" name="Comments" value="" placeholder="Add Comment" />
                        </div>
                        <div>
                            <p></p>
                            <div class="input-group" id="commentList">
                                @for (var i = 0; i < Model.comments.Count(); i++)
                                {
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Model.comments.ElementAt(i).comment1.ToString()</h5>
                                            <small>@Model.comments.ElementAt(i).createdDate.ToLocalTime()</small>
                                        </div>
                                        <p class="mb-1">@Model.comments.ElementAt(i).AspNetUser.UserName</p>
                                        <small></small>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End Styling *@


    </div>
}

<div>
    @Html.ActionLink("Dashboard", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@* Add Critereia Script, need to add new items also to the database *@
<script type="text/javascript">
    $(document).ready(function (i) {
        //hide alerts
        $("#success-alert").hide();
        //update the criteria list and add to database
        $('#criteria').click(function (e) {
            e.preventDefault();
            if ($('#textCriteria').val() != '') {
                AddCriteria();
                var new_task = $('#textCriteria').val();
                $('#criteriaList').append('<li>' + new_task + '</li>');
                $('#textCriteria').val(null);
                $('#textCriteria').attr("placeholder", "Add Another?");
            }
        });
        //update the comment list and add to database
        $('#comments').click(function (c) {
            c.preventDefault();
            if ($('#textComments').val() != '') {
                AddComment();
                var new_comment = $('#textComments').val();
                /**/
                var isoDate = new Date('@DateTime.Now.ToString()').toDateString()
                /**/
                $('#commentList').append(
                    '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">' +
                    '<div class="d-flex w-100 justify-content-between">' +
                    '<h5 class="mb-1">' + new_comment +'</h5>' +
                    '<small>' + isoDate + '</small>' +
                    '</div>' +
                    '<p class="mb-1">' + '@User.Identity.Name' + '</p>' +
                    '<small></small>' +
                    '</a>'
                );
                $('#textComments').val(null);
                $('#textComments').attr("placeholder", "Add Another?");
            }
        });
    });

//Add criteria Data Function
function AddCriteria() {
//var res = validate();
//if (res == false) {
//    return false;
//}

    //NEED to look into validation

var acObj = {
    acceptanceCriteria1: $('#textCriteria').val(),
    /**/
    ideaID: @Html.Raw(Json.Encode(Model.ideaID))
/**/
};
$.ajax({
    url: "/Home/AddAcceptanceCriteria",
    data: JSON.stringify(acObj),
    type: "POST",
    contentType: "application/json;charset=utf-8",
    dataType: "json",
    success: function (result) {
        //loadData();
        //$('#myModal').modal('hide');
        $(".alert").alert()
    },
    error: function (errormessage) {
        alert(errormessage.responseText);
    }
});
}
function AddComment() {
var commentObj = {
    comment1: $('#textComments').val(),
    /**/
    ideaID: @Html.Raw(Json.Encode(Model.ideaID)),
    /**/
};
$.ajax({
    url: "/Home/AddComment",
    data: JSON.stringify(commentObj),
    type: "POST",
    contentType: "application/json;charset=utf-8",
    dataType: "json",
    success: function (result) {
        //loadData();
        //$('#myModal').modal('hide');
        $(".alert").alert()
        //alert(result)
    },
    error: function (errormessage) {
        alert(errormessage.responseText);
    }
});
    }
</script>
<script type="text/javascript">
    $('#EditStory').click(function () {
        //alert("Edited the story");
        $('#StoryDisplay').hide();
        $('#StoryEditor').show();
    });
    $('#EditNote').click(function () {
        $("#NoteDisplay").hide();
        $('#NoteEditor').show();
    });
    $('#CancelNoteUpdate').click(function () {
        var currentNote = $('#NoteLabel').val();
        $("#NoteDisplay").show();
        $('#NoteEditor').hide();
        $('#TextAreaNote').val(currentNote);
    });
    $('#CancelStoryUpdate').click(function () {
        var currentStory = $('#StoryLabel').val();
        $('#StoryDisplay').show();
        $('#StoryEditor').hide();
        $('#TextAreaStory').val(currentStory);
    });
    $('#SaveStory').click(function () {
        $('#StoryEditor').hide();
        $('#StoryLabel').val($('#TextAreaStory').val());
        $('#StoryDisplay').show();
        UpdateIdea();
    });
    $('#SaveNote').click(function () {
        $('#NoteEditor').hide();
        $('#NoteLabel').val($('#TextAreaNote').val());
        $('#NoteDisplay').show();
        UpdateIdea();
    });
</script>
<script type="text/javascript">
    $('#NewFeatureNo').change(function () {
        if ($('#NewFeatureNo').prop('checked', true)) {
            //update newFeature with false
            $('#FeatureLabel').attr('value', false);
            UpdateIdea();
        }
    });//update remaining update features
    $('#NewFeatureYes').change(function () {
        if ($('#NewFeatureYes').prop('checked', true)) {
            //update newFeature with true
            $('#FeatureLabel').attr('value', true);
            UpdateIdea();
        }
    });
    $('#CSFacingNo').change(function () {
        if ($('#CSFacingNo').prop('checked', true)) {
            //update CSFacing with false
            $('#CSFacingLabel').attr('value', false);
            UpdateIdea();
        }
    });
    $('#CSFacingYes').change(function () {
        if ($('#CSFacingYes').prop('checked', true)) {
            //Update CSFacing with true
            $('#CSFacingLabel').attr('value', true);
            UpdateIdea();
        }
    });
    $('#TrainingNo').change(function () {
        if ($('#TrainingNo').prop('checked', true)) {
            //Update the Training with false
            $('#TrainingLabel').attr('value', false);
            UpdateIdea();
        }
    });
    $('#TrainingYes').change(function () {
        if ($('#TrainingYes').prop('checked', true)) {
            //Update the Trainig with true
            $('#TrainingLabel').attr('value', true);
            UpdateIdea();
        }
    });
    $('#FrequencyNotOften').change(function () {
        if ($('#FrequencyNotOften').prop('checked', true)) {
            //Update the Trainig with true
            $('#FrequencyLabel').attr('value', 'Not Often');
            UpdateIdea();
        }
    });
    $('#FrequencyOften').change(function () {
        if ($('#FrequencyOften').prop('checked', true)) {
            //Update the Trainig with true
            $('#FrequencyLabel').attr('value', 'Often');
            UpdateIdea();
        }
    });
    $('#FrequencyVeryOften').change(function () {
        if ($('#FrequencyVeryOften').prop('checked', true)) {
            //Update the Trainig with true
            $('#FrequencyLabel').attr('value', 'Very Often');
            UpdateIdea();
        }
    });
    $('#ImpactLow').change(function () {
        if ($('#ImpactLow').prop('checked', true)) {
            //Update the Trainig with true
            $('#ImpactLabel').attr('value', 'Low');
            UpdateIdea();
        }
    });
    $('#ImpactMedium').change(function () {
        if ($('#ImpactMedium').prop('checked', true)) {
            //Update the Trainig with true
            $('#ImpactLabel').attr('value', 'Medium');
            UpdateIdea();
        }
    });
    $('#ImpactHigh').change(function () {
        if ($('#ImpactHigh').prop('checked', true)) {
            //Update the Trainig with true
            $('#ImpactLabel').attr('value', 'High');
            UpdateIdea();
        }
    });
    function UpdateIdea () {
        var updatedIdea = {
            ideaID: @Html.Raw(Json.Encode(Model.ideaID)),
            releaseNote: $('#TextAreaNote').val(),
            InitiatingUSERId: ('@Model.InitiatingUSERId'),
            jiraURL: ('@Model.jiraURL'),
            userStory: $('#TextAreaStory').val(),
            createdDate: ('@Model.createdDate'),
            newFeature: $('#FeatureLabel').attr('value'),
            frequency: $('#FrequencyLabel').attr('value'),
            impact: $('#ImpactLabel').attr('value'),
            requiresTraining: $('#TrainingLabel').attr('value'),
            customerFacing: $('#CSFacingLabel').attr('value'),
        };
            $.ajax({
                url: "/Home/UpdateIdea",
                data: JSON.stringify(updatedIdea),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    AlertMe();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            })
    }
</script>
<script type="text/javascript">
    //Alerts
    function AlertMe() {
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
</script>

