﻿@model InnovationsPortal.Models.DashboardViewModels
@{
    ViewBag.Title = "Let's Innovate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-10">
        <h2><i>Innovation</i> from Anywhere</h2>
    </div>
</div>
<div class="row border-top border-dark" style="padding-bottom:15px">
    <h1></h1>
</div>
<div class="row">
    <div class="col-sm-8">
        <h4>My Innovations <span class="badge badge-primary" data-toggle="tooltip" title="Accepted Innovations">@Model.MyIdeas.Count</span></h4>
        <div class="list-group">
            @foreach (var idea in Model.MyIdeas)
            {
                <a href="@Url.Action("Idea","Home", new { id = idea.ideaID })" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@idea.releaseNote</h5>
                        <small>@idea.createdDate.ToLocalTime().ToShortDateString()</small>
                    </div>
                    <p class="mb-1">@idea.userStory</p>

                    <small>
                        Current Status --
                        Votes:
                        @idea.votes.Where(p => p.vote1 == true).Count() <span class="fa fa-thumbs-up text-success"></span>
                        @idea.votes.Where(p => p.vote1 == false).Count() <span class="fa fa-thumbs-down text-danger"></span>
                    </small>
                    <small class="float-right">Jira: @idea.jiraURL</small>
                </a>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Following Innovations <span class="badge badge-dark" data-toggle="tooltip" title="In Progress Innovations">@Model.FollowedIdeas.Count</span></h4>
        <div class="list-group">
            @foreach (var idea in Model.FollowedIdeas)
            {
                <a href="@Url.Action("Idea","Home", new { id = idea.ideaID })" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@idea.releaseNote</h5>
                        <small>@idea.createdDate.ToLocalTime().ToShortDateString()</small>
                    </div>
                    <p class="mb-1">@idea.userStory</p>

                    <small>
                        Current Status --
                        Votes:
                        @idea.votes.Where(p => p.vote1 = true).Count() <span class="fa fa-thumbs-up text-success"></span>
                        @idea.votes.Where(p => p.vote1 = false).Count() <span class="fa fa-thumbs-down text-danger"></span>
                    </small>
                    <small class="float-right">Jira: @idea.jiraURL</small>
                </a>
            }
        </div>

    </div>
</div>


