﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class=" navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item active">@Html.ActionLink("Home", "DashboardView", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item active">@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                @*<li class="nav-item active">@Html.ActionLink("Create an Idea", "IdeaView", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
            </ul>
        </div>
        @* location.href='@Url.Action("IdeaView","Home")'" *@
        <div class="col">
            <button type="button" onclick="" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Share your idea." id="addInnovation"><span class="fa fa-plus-circle"></span>  <i>Let's Innovate</i></button>
        </div>
        <form class="form-inline">

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            </div>
        </div>
    </div>
    <div class="container body-content" id="QuickCreate">
       @* @Html.Partial("~/Views/Home/_PartialCreate.cshtml")style="display:none"*@
    </div>
    <script type="text/javascript">
        $(document).ready(
            function (i) {
                $("#addInnovation").click(function (e) {
                    e.preventDefault();
                    //$("#QuickCreate").show();
                    $("#QuickCreate").load('@Url.Action("LoadCreator", "Home")')
                });
            });
    </script>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - At YX it takes 'WE' to innovate.</p>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
