﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="col form-inline">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            </ul>

            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span></button>

        </div>
    }
}
else
{

}
