﻿@model Core.idea

@{
    ViewBag.Title = "Quick Create";
    ViewData.Clear();
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form>
        <div class="row bg-light">
            <div class="col form-group">
                <span class="fa fa-sticky-note" style="padding-right:5px"></span>@Html.LabelFor(model => model.releaseNote, "Release Note - Story Title", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.releaseNote, new { @class = "bg-light", @rows = "3", @style = "width:100%", placeholder = "Ex: The strain information form links to MGI data!" })
                    @Html.ValidationMessageFor(model => model.releaseNote, "", new { @class = "control-label" })
                </div>
                <div class="row">
                    <div class="col">
                        <p><span class="fa fa-graduation-cap" style="padding-right:5px"></span>@Html.LabelFor(model => model.requiresTraining, "Training Required?", htmlAttributes: new { @class = "control-label" })</p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.requiresTraining, "False", new { @checked = true }) No
                            </label>
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.requiresTraining, "True", new { @checked = false }) Yes
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <p><span class="fa fa-users" style="padding-right:5px"></span>@Html.LabelFor(model => model.customerFacing, "Customer Facing?", htmlAttributes: new { @class = "control-label" })</p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.customerFacing, "False", new { @checked = true, @id= "noButton" }) No
                            </label>
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.customerFacing, "True", new { @checked = false }) Yes
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <p><span class="fa fa-users" style="padding-right:5px"></span>@Html.LabelFor(model => model.newFeature, "New Feature?", htmlAttributes: new { @class = "control-label" })</p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.newFeature, "False", new { @checked = true }) No
                            </label>
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.newFeature, "True", new { @checked = false }) Yes
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col form-group">
                <span class="fa fa-book" style="padding-right:5px"></span>@Html.LabelFor(model => model.userStory, "  Share your story!", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.userStory, new { @class = "bg-light", @rows = "6", @style = "width:100%", placeholder = "Ex: As a user, I need to be able to do this thing, so that things are easier!" })
                </div>
            </div>
        </div>
        <div class="row bg-light">
            <div class="form-group col" align="right">
                <a href="" id="hideME" name="Cancel" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        
    </form>
}
<script type="text/javascript">
    $(document).ready(
        function (o) {
            $("#hideME").click(function (r) {
                r.preventDefault();
                $("#QuickCreate").hide();
            });

        });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
