﻿@model Core.idea

@{
    ViewBag.Title = "ExistingIdea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success fade show" role="alert">
    <strong>@Model.ideaID</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.ideaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ideaID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ideaID, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-1">
            @if (Model.votes.ElementAt(0).vote1)
            {

            }
            <button type="button" id="thumbsUp" class="btn btn-outline-success float-right" data-toggle="button" aria-pressed="false" autocomplete="off">
                <span class="fa fa-thumbs-up"></span>
            </button>
        </div>
        <div class="col-sm-1">
            <button type="button" id="thumbsDn" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                <span class="fa fa-thumbs-down"></span>
            </button>
        </div>
        <div class="col">
            <h2>Idea submitted by @@User</h2>
        </div>

    </div>
    <div class="row">
        <div class="col form-group">
            <span class="fa fa-sticky-note" style="padding-right:5px"></span>@Html.LabelFor(model => model.releaseNote, "Release Note - Story Title", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextAreaFor(model => model.releaseNote, new { @rows = "3", @style = "width:100%", placeholder = "Ex: The strain information form links to MGI data!" })
                @Html.ValidationMessageFor(model => model.releaseNote, "", new { @class = "control-label" })
            </div>

            <div class="row" style="padding-top:10px">
                @* Acceptance Criteria Section *@
                <div class="col">
                    @* User Story Section *@
                    <span class="fa fa-book" style="padding-right:5px"></span>@Html.LabelFor(model => model.userStory, "Share your story.", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.TextAreaFor(model => model.userStory, new { @rows = "6", @style = "width:100%", placeholder = "As a user, I want to do a thing, so that these things are easier." })
                        @Html.ValidationMessageFor(model => model.userStory, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="Criteria">Acceptance Criteria:</label>
                        <div class="input-group">
                            <span class="input-group-btn"><button id="criteria" class="btn btn-secondary fa fa-plus-circle" type="button"></button></span>
                            <input id="textCriteria" type="text" class="form-control" name="Criteria" value="" placeholder="Ex: I should be able to login." />
                        </div>
                        <p></p>
                        <ul id="criteriaList">
                            @for (var i = 0; i < Model.acceptanceCriterias.Count(); i++)
                            {
                                <li>@Model.acceptanceCriterias.ElementAt(i).acceptanceCriteria1.ToString()</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col form-group">
            <div class="row">
                <div class="col">
                    <p><span class="fa fa-graduation-cap" style="padding-right:5px"></span>@Html.LabelFor(model => model.requiresTraining, "Training Required?", htmlAttributes: new { @class = "control-label" })</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @if (Model.requiresTraining == true)
                        {
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.requiresTraining, "False", new { @checked = true }) No
                            </label>
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.requiresTraining, "True", new { @checked = false }) Yes
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.requiresTraining, "False", new { @checked = true }) No
                            </label>
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.requiresTraining, "True", new { @checked = false }) Yes
                            </label>
                        }
                    </div>
                </div>
                <div class="col">
                    <p><span class="fa fa-users" style="padding-right:5px"></span>@Html.LabelFor(model => model.customerFacing, "Customer Facing?", htmlAttributes: new { @class = "control-label" })</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @if (Model.customerFacing == true)
                          {
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.customerFacing, "False", new { @checked = !Model.newFeature }) No
                            </label>
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.customerFacing, "True", new { @checked = Model.newFeature }) Yes
                            </label>
                          }
                        else
                          {
                            <label class="btn btn-secondary active">
                                @Html.RadioButtonFor(model => model.customerFacing, "False", new { @checked = !Model.newFeature }) No
                            </label>
                            <label class="btn btn-secondary">
                                @Html.RadioButtonFor(model => model.customerFacing, "True", new { @checked = Model.newFeature }) Yes
                            </label>
                          }
                    </div>
                </div>
                <div class="col">
                    <p><span class="fa fa-plus" style="padding-right:5px"></span>@Html.LabelFor(model => model.newFeature, "New Feature?", htmlAttributes: new { @class = "control-label" })</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @if (Model.newFeature == true)
                            {
                                <label class="btn btn-secondary">
                                    @Html.RadioButtonFor(model => model.newFeature, "False", new { @checked = !Model.newFeature }) No
                                </label>
                                <label class="btn btn-secondary active">
                                    @Html.RadioButtonFor(model => model.newFeature, "True", new { @checked = Model.newFeature }) Yes
                                </label>
                            }
                        else
                        {
                        <label class="btn btn-secondary active">
                            @Html.RadioButtonFor(model => model.newFeature, "False", new { @checked = !Model.newFeature }) No
                        </label>
                        <label class="btn btn-secondary">
                            @Html.RadioButtonFor(model => model.newFeature, "True", new { @checked = Model.newFeature }) Yes
                        </label>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                @* Risk Matrix Options *@
                <div class="col">
                    <p><span class="fa fa-bar-chart" style="padding-right:5px"></span>@Html.LabelFor(model => model.frequency, "How often is this be used?", htmlAttributes: new { @class = "control-label" })</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            @Html.RadioButtonFor(model => model.frequency, "False", new { @checked = true }) Not Often
                        </label>
                        <label class="btn btn-secondary">
                            @Html.RadioButtonFor(model => model.frequency, "True", new { @checked = false }) Often
                        </label>
                        <label class="btn btn-secondary">
                            @Html.RadioButtonFor(model => model.frequency, "True", new { @checked = false }) Very Often
                        </label>
                    </div>
                </div>
                <div class="col">
                    <p><span class="fa fa-line-chart" style="padding-right:5px"></span>@Html.LabelFor(model => model.impact, "What is the impact?", htmlAttributes: new { @class = "control-label" })</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            @Html.RadioButtonFor(model => model.impact, "False", new { @checked = true }) Low
                        </label>
                        <label class="btn btn-secondary">
                            @Html.RadioButtonFor(model => model.impact, "True", new { @checked = false }) Medium
                        </label>
                        <label class="btn btn-secondary">
                            @Html.RadioButtonFor(model => model.impact, "True", new { @checked = false }) High
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        @* Comments Section *@
        <div class="col">
            <label for="Cooments">Comments:</label>
            <div class="input-group">
                <span class="input-group-btn"><button id="comments" class="btn btn-secondary fa fa-plus-circle" type="button"></button></span>
                <input id="textComments" type="text" class="form-control" name="Comments" value="" placeholder="Add Comment" />
            </div>
            <div>
                <p></p>
                <div class="input-group" id="commentList">
                    @for (var i = 0; i < Model.comments.Count(); i++)
                    {
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">User Comment</h5>
                                <small>@Model.comments.ElementAt(i).createdDate.ToLocalTime()</small>
                            </div>
                            <p class="mb-1">@Model.comments.ElementAt(i).comment1.ToString()</p>
                            <small></small>
                        </a>

                    }
                </div>
            </div>
        </div>
    </div>
    @* End Styling *@
    
   
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@* Add Critereia Script, need to add new items also to the database *@
<script type="text/javascript">
    $(document).ready(function (i) {
        //update the criteria list and add to database
        $('#criteria').click(function (e) {
            e.preventDefault();
            AddCriteria();
            var new_task = $('#textCriteria').val();
            $('#criteriaList').append('<li>' + new_task + '</li>');
            $('#textCriteria').val(null);
            $('#textCriteria').attr("placeholder", "Add Another?");
        });
        //update the comment list and add to database
        $('#comments').click(function (c) {
            c.preventDefault();
            AddComment();
            var new_comment = $('#textComments').val();
            var isoDate = new Date('@DateTime.Now.ToString()').toDateString()
            $('#commentList').append(
                '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">' +
                            '<div class="d-flex w-100 justify-content-between">' +
                                '<h5 class="mb-1">User Comment</h5>' +
                                '<small>'+ isoDate + '</small>' +
                            '</div>' +
                                '<p class="mb-1">' + new_comment + '</p>' +
                            '<small></small>' +
                       '</a>'
            );
            $('#textComments').val(null);
            $('#textComments').attr("placeholder", "Add Another?");
        });
    });
    //Add criteria Data Function
    function AddCriteria() {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        var acObj = {
            acceptanceCriteria1: $('#textCriteria').val(),
            ideaID: @Html.Raw(Json.Encode(Model.ideaID))
        };
        $.ajax({
            url: "/Home/AddAcceptanceCriteria",
            data: JSON.stringify(acObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //loadData();
                //$('#myModal').modal('hide');
                $(".alert").alert()
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function AddComment() {
        var commentObj = {
            comment1: $('#textComments').val(),
            ideaID: @Html.Raw(Json.Encode(Model.ideaID)),
            UserId: 1
            //createdDate: @DateTime.Now.ToUniversalTime()
        };
        $.ajax({
            url: "/Home/AddComment",
            data: JSON.stringify(commentObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //loadData();
                //$('#myModal').modal('hide');
                $(".alert").alert()
                alert(result)
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>
