﻿@model Core.Models.CombinedIdeas

@{
    /**/

    ViewBag.Title = "Innovation from anywhere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Share my idea!</h3>
@{
    if (IsPost)
    {
        @*string companyname = Request.Form["companyname"];
            string contactname = Request.Form["contactname"];
            int employeecount = Request.Form["employees"].AsInt();

            <text>
                You entered: <br />
                Company Name: @companyname <br />
                Contact Name: @contactname <br />
                Employee Count: @employeecount <br />
            </text>*@
        List<string> aCriteria = new List<string>();
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <form>
            <div class="row">
                <div class="col form-group">
                    <span class="fa fa-sticky-note" style="padding-right:5px"></span>@Html.LabelFor(model => model.Idea.releaseNote, "Release Note - Story Title", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.TextAreaFor(model => model.Idea.releaseNote, new { @class = "border border-danger", @rows = "3", @style = "width:100%", placeholder = "Ex: The strain information form links to MGI data!" })
                        @Html.ValidationMessageFor(model => model.Idea.releaseNote, "", new { @class = "control-label" })
                    </div>
                    <p style="font-family:Arial, Helvetica, sans-serif"><span class="fa fa-book"></span>  Share your story.</p>
                    <div>
                        <textarea style="width:100%" name="Story" value="" rows="6" placeholder="As a user, I want to do a thing, so that these things are easier." required></textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><span class="fa fa-graduation-cap"></span> Training Required?</p>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="training" id="trainFalse" value="false" autocomplete="off" checked> No
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="training" id="trainTrue" value="true" autocomplete="off"> Yes
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <p><span class="fa fa-users"></span> Customer Facing?</p>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="customers" id="customerFalse" value="false" autocomplete="off" checked> No
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="customers" id="customerTrue" value="true" autocomplete="off"> Yes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p></p>
                        </div>
                        <label for="Criteria">Acceptance Criteria:</label>
                        <div class="input-group">
                            <span class="input-group-btn"><button id="criteria" class="btn btn-secondary fa fa-plus-circle" type="button"></button></span>
                            <input id="textCriteria" type="text" class="form-control" name="Criteria" value="" placeholder="Ex: I should be able to login." />
                        </div>
                        <div>
                            <p></p>
                            <ul id="criteriaList"></ul>
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <div class="form-group">
                        <label>Requester: Jim Medlock</label>
                        <div>
                            <label>BUL: Jim Medlock</label>
                        </div>
                        <div>
                            <label>Department: IT</label>
                        </div>
                        <div>
                            <label>Date: @DateTime.Now.ToLongDateString()</label>
                        </div>
                        <p style="font-family:Arial, Helvetica, sans-serif"><span class="fa fa-puzzle-piece"></span>  Select a project that this innovation may affect.</p>
                        <div class="input-group form-check">
                            @*<div class="input-group-prepend">
                                <div class="input-group-text bg-dark">
                                    <input type="checkbox" aria-label="Checkbox for following label">
                                </div>
                            </div>*@
                            <label for="QO"><input type="checkbox" value="" />  Quick Order</label>
                        </div>
                        <div class="input-group form-check">
                            <label for="ORMA"><input type="checkbox" value="" />  Order Manager</label>
                        </div>
                        <div class="input-group form-check">
                            <label for="COMA"><input type="checkbox" value="" />  Colony</label>
                        </div>
                        <div class="input-group form-check">
                            <label for="LIMs"><input type="checkbox" value="" />  LIMs</label>
                        </div>
                        <div class="input-group mb-3 form-check">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input type="text" id="OtherCheck" placeholder="Other" value="" class="form-control" aria-label="Text input with checkbox">
                        </div>
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" style="width:147px" for="frequencySelector">Frequency of use</button>
                        </div>
                        <select class="custom-select" id="frequencySelector">
                            <option selected>Select one</option>
                            <option value="Not Often">Not Often</option>
                            <option value="Often">Often</option>
                            <option value="Very Often">Very Often</option>
                        </select>
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" style="width:147px" for="ImpactSelector">Business Impact</button>
                        </div>
                        <select class="custom-select" id="ImpactSelector">
                            <option selected>Select one</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" align="right">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
@* Vote Section *@
    <div class="row">
        <div class="col">
            <button type="button" id="thumbsUp" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">
                <span class="fa fa-thumbs-up"></span>
            </button>
        </div>
        <div class="col">
            <h6>   Vote NOW !   </h6>
        </div>
        <div class="col">
            <button type="button" id="thumbsDn" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">
                <span class="fa fa-thumbs-down"></span>
            </button>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function (i) {
        $('#criteria').click(function (e) {
            e.preventDefault();
            var new_task = $('#textCriteria').val();
            $('#criteriaList').append('<li>' + new_task + '</li>');
            $('#textCriteria').val(null);
            $('#textCriteria').attr("placeholder", "Add Another?");
        });
    });
</script>

